body {
    background-color: #e9ebee;
}

.card {
    margin-top: 20px;
}

/* IMG displaying */
.person-card {
    margin-top: 20px;
    padding-top: 20px;
}
.person-card .card-title{
    text-align: center;
}
.person-card .person-img{
    width: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    border-radius: 100%;
    overflow: hidden;
    background-color: white;
}